* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/hero-img.png);
    background-size: cover;
}

.container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
        font-family: 'Open Sans', sans-serif;
        color: #ff914d;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

span {
    text-align: center;
}


h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

h4 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    background: #ffe7a8;
    border-radius: 10px;
    padding: 25px;
}

.form img{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.text-field {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
}

.text-field input {
    margin-top: 8px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -12px #ff914d;
    background-color: white;
    border: none;
}

.btn {
    width: 100%;
    margin: 12px 0;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 40px -12px #ff914d;
    background-color: white;
    color: #ff914d;
    font-weight: bold;
}

.btn:hover {
    background-color: #ff914d;
    color: white;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media img {
    width: 40px;
}

.media {
    border: 5px #ff914d solid;
    border-radius: 10px;
    margin-top: 10px;
}

@media (max-width: 760px) {
    .form{
        width: 100vw;
        height: 100vh;
        padding: 0px 15px 0 15px;
        border-radius: 0;
    }
}
